/* Global Styles */
:root {
    --primary-color: #ECECEC;      /* Top Header */
    --secondary-color: #D2D1D1;    /* Dark gray */
    --background-color: #f8f9fa;   /* Light Gray */
    --text-color: #414141;         /* Black */
    --card-background: #ECECEC;    /* White */
    --footer-background: #ECECEC;  /* Footer */
    --footer-text: #414141;        /* Black */
    --logo-src: url('img/black.png');
    --transition-duration: 0.3s;   /* Transition duration */
}

[data-theme="dark"] {
    --primary-color: #343a40;      /* Dark Gray */
    --secondary-color: #6c757d;    /* Medium Gray */
    --background-color: #212529;   /* Very Dark Gray */
    --text-color: #f8f9fa;         /* Light Gray */
    --card-background: #343a40;    /* Dark Gray */
    --footer-background: #212529;  /* Very Dark Gray */
    --footer-text: #f8f9fa;        /* Light Gray */
    --logo-src: url('img/white.png');
    --btntext-color: #FCD53F;
    --btn-color: #e0bb34;
}

body {
    font-family: 'Arial', sans-serif, Courier New, Georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration);
} 
.logo img {
    height: 75px;
    width: 75px;
    transition: content var(--transition-duration);
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

nav a {
    color: var(--text-color);
    padding: 10px;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
}

[data-theme="light"] nav a:hover {
    color: #111111;
    transform: scale(1.1);
}
[data-theme="dark"] nav a:hover {
    color: #d7d8d9;
    transform: scale(1.1);
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
    margin-top: -5px;
    cursor: pointer;
    color: var(--text-color);
    transition: color var(--transition-duration);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    padding: 50px 20px;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}
h2 {
    text-align: center;
    font-family: "dejavu-sans", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 20px;
    opacity: 0.8; /* Adjusted opacity value */
    margin-bottom: 60px;
    margin-top: -15px;
    max-width: 1000px; /* Use max-width instead of width */
    margin-left: auto; /* Centering the element horizontally */
    margin-right: auto; /* Centering the element horizontally */
}
h3 {
    text-align: center;
    font-family: "dejavu-sans", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 20px;
    opacity: 0.8; /* Adjusted opacity value */
    max-width: 1000px; /* Use max-width instead of width */
    margin-left: auto; /* Centering the element horizontally */
    margin-right: auto; /* Centering the element horizontally */
}
h4 {
    text-align: center;
    font-family: "dejavu-sans", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 20px;
    opacity: 0.8; /* Adjusted opacity value */
    max-width: 1000px; /* Use max-width instead of width */
    margin-left: auto; /* Centering the element horizontally */
    margin-right: auto; /* Centering the element horizontally */
    margin-bottom: 60px;
    margin-top: 60px;
}
h5 {
    text-align: center;
    font-family: "dejavu-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    opacity: 0.8; /* Adjusted opacity value */
    max-width: 1000px; /* Use max-width instead of width */
    margin-left: auto; /* Centering the element horizontally */
    margin-right: auto; /* Centering the element horizontally */
    margin-bottom: 60px;
}
h6 {
    text-align: center;
    font-family: "inter-tight-variable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    max-width: 1000px;
    margin: -20px auto 0 auto;
    transition: opacity 1s ease-in-out; /* Smooth fade-out and fade-in */
    padding-bottom: 50px;
    margin-top: -35px;
}
ul {
    text-align: center;
    justify-content: space-between;
    font-family: "inter-tight-variable", sans-serif;   
    font-style: italic;
    margin-bottom: -35px;
    font-size: 15px;
    opacity: 0.8; /* Adjusted opacity value */
    max-width: 1000px; /* Use max-width instead of width */
    margin-left: auto; /* Centering the element horizontally */
    margin-right: auto; /* Centering the element horizontally */
}
ul li {
    padding: 10px; /* Add padding around each list item */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    display: flex;
    align-items: center;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-icon {
    padding: 20px;
}

.project-icon img {
    width: 50px;
    height: 50px;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration); /* Add transition for smooth effect */
}

[data-theme="dark"] .project-icon img {
    filter: invert(1); /* Invert colors to make icons white */
}

.project-info {
    flex: 1;
    padding: 20px;
    align-items: center; /* Center items vertically */
    position: relative; /* Positioning context for pseudo-element */
}

.project-info::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px; /* Width of the vertical line */
    height: 2000px;
    background-color: var(--secondary-color);
}
.project-info h2 {
    margin: 0;
    font-size: 1.25em;
}

.project-info p {
    margin: 10px 0;
    font-size: 1em;
    color: var(--text-color);
}

.project-info a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--btntext-color);
    border-radius: 4px;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.project-info a:hover {
    background-color: var(--secondary-color);
    color: var(--btn-color);
    transform: scale(1); /* Reset scale on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--footer-background);
    color: var(--footer-text);
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

footer p {
    margin: 10px 0;
}
[data-theme="dark"] .social-links a {
    color: #FCD53F;
    transition: color var(--transition-duration), transform var(--transition-duration);
}
[data-theme="dark"] .social-links a:hover {
    color: #e0bb34;
    transform: scale(1.1);
}
.social-links a {
    margin: 0 10px;
    color: var(--footer-text);
    transition: color var(--transition-duration), transform var(--transition-duration);
}

social-links a:hover {
    color: #D2D1D1;
    transform: scale(1.1);
}
[data-theme="dark"] #contact-form, [data-theme="dark"] #quote-form {
    background-color: #343a40; 
}
[data-theme="dark"] nav ul li a.active {
    font-weight: bold;  /* Make the text bold */
    color: #FCD53F;     /* Change the text color to the highlight color */
    border-bottom: 2px solid #FCD53F;  /* Add a bottom border */
}

/* Optionally, you can add a hover effect for the active link as well */
[data-theme="dark"] nav ul li a.active:hover {
    color: #e0bb34;     /* Slightly darker shade for hover */
    border-bottom: 2px solid #e0bb34;  /* Match the bottom border color on hover */
}
[data-theme="light"] nav ul li a.active {
    font-weight: bold;  /* Make the text bold */
    color: #444444;     /* Change the text color to the highlight color */
    border-bottom: 2px solid #444444;  /* Add a bottom border */
}
#about {
            text-align: center;
        }
        #about img, #mission img, #united img, #creative img, #indev img {
            display: block;
            margin: 0 auto 20px;
            max-width: 60px;
            height: auto;
            margin-bottom: -25px
            animation: slideUp 0.5s ease-in-out;
        }
        #quote img {
            display: block;
            margin: 0 auto 20px;
            max-width: 60px;
            height: auto;
            margin-bottom: -25px
            animation: slideUp 0.5s ease-in-out;
        }
        #home img {
            display: block;
            margin: 0 auto 20px;
            max-width: 40px;
            height: auto;
            margin-bottom: -15px
        }
/* Form styling */
#contact {
    text-align: center;
}

#contact h2 {
    margin-bottom: 30px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.5s ease-in-out;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

#quote {
    text-align: center;
    margin-bottom: 50px; /* Adjust spacing as needed */
}
#quote h1 {
    margin-top: 20px; /* Adjust spacing as needed */
}

#quote h2 {
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #FCD53F;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Adjust button spacing */
}

button[type="submit"]:hover {
    background-color: #e0bb34;
}
#services {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
}
[data-theme="light"] .service-item p {
    color: var(--text-color);
}
.service-showcase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    background: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform var(--transition-duration), background-color var(--transition-duration);
    animation: slideUp 0.5s ease-in-out;
}

.service-item img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.service-item h3 {
    margin: 15px 0 10px;
    font-size: 1.2em;
}

.service-item p {
    color: var(--secondary-color);
}

.service-item:hover {
    transform: translateY(-10px);
}
#indev {
            margin-top: 130px;
        }
button[type="login"] {
    background-color: #FCD53F;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Adjust button spacing */
    
    /* Center horizontally */
    display: block;
    margin: 0 auto;
    animation: slideUp 0.5s ease-in-out;
}

        button[type="login"]:hover {
            background-color: #e0bb34;
        }